* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.container {
  max-width: 1280px;
  width: 80%;
  margin: 0 auto;
}
img {
  width: 100%;
}
nav {
  display: flex;
  justify-content: space-between;
  margin: 20px 0px;
  align-items: center;
}
.nav-manu {
}
.nav-manu a {
  font-weight: 700;
  margin-right: 40px;
  text-decoration: none;
  color: rgb(37, 36, 50);
}
.banner {
  display: flex;
  align-items: center;
  margin: 120px 0px;
}
.banner-text {
  width: 50%;
}

.banner-text h1 {
  font-size: 65px;
  font-weight: 700;
  color: rgb(0, 0, 0);
}
.banner-title {
  color: rgb(233, 90, 8);
}

.banner-text p {
  font-size: 22px;
  margin-top: 10px;
  color: rgba(0, 0, 0, 0.5);
}
.banner-img {
  width: 50%;
}
